<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531525645387-7f14be1bdbbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80);">
  <div class="container">
    <h1>Game Point</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>

<div class="m-5">
  <h1 class="text-center mb-3">Ultimas Reviews</h1>
  <div class="cards">
    <% @articulos.each do |articulo| %>
      <%= link_to "#" do %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= articulo.titulo %></h2>
            <p><%= articulo.nota %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
